* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(186, 250, 255);
}




.register {
    width: 500px;
    height: 600px;
    background-color: white;
    position: relative;
    left: 200px;
    top: 100px;
    border-radius: 30px;

}

.inpCard {

    width: 300px;
    display: flex;
    top: 100px;
    left: 30px;
    position: relative;
    border-radius: 5px;
    font-size: 23px;
}

.Holder {
    width: 00px;
    width: 300px;
    display: flex;
    position: relative;
    top: 150px;
    border-radius: 5px;
    left: 30px;
    font-size: 23px;
}

.date {
    width: 00px;
    width: 100px;
    display: flex;
    position: relative;
    top: 200px;
    border-radius: 5px;
    left: 30px;
    font-size: 23px;
}

.cvv {
    width: 00px;
    width: 100px;
    display: flex;
    margin-left: 280px;
    position: relative;
    top: 140px;
    border-radius: 5px;
    font-size: 23px;
}

.button{
position: relative;
left: 210px;
top: 300px;
width: 50px;
height: 30px;
border-radius: 5px;
}


.wrapper {
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card-display {
    background: #333;
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}